*.out
*.swp
*.DS_Store
*.o
*.pbxproj
*.xcuserstate
*.xcbkptlist
autom4te.cache/*
autoscan.log

*.xcuserstate

*.xcuserstate

research/RoboDisplay/RoboDisplay.xcodeproj/project.xcworkspace/xcuserdata/johnuiterwyk.xcuserdatad/UserInterfaceState.xcuserstate

research/RoboDisplay/RoboDisplay.xcodeproj/project.pbxproj

research/RoboDisplay/RoboDisplay.xcodeproj/project.xcworkspace/xcuserdata/johnuiterwyk.xcuserdatad/UserInterfaceState.xcuserstate

research/RoboDisplay/RoboDisplay.xcodeproj/project.xcworkspace/xcuserdata/johnuiterwyk.xcuserdatad/UserInterfaceState.xcuserstate
